<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dashwire.features.testing"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />
    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.dashwire.config.permission.CONFIG" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
           <service
            android:name="com.dashwire.features.testing.controller.FeaturesTestingControllerService"
            android:enabled="true" >
            	<intent-filter>
                	<action android:name="com.dashwire.feature.CONTROLLER_SERVICE" >
                	</action>
            	</intent-filter>
           </service>
        <receiver android:name=".FeatureTestingRequestReceiver">
            <intent-filter>
                <action android:name="com.dashwire.features.testing.fctnl.test"/>
                <action android:name="com.dashwire.features.testing.intg.test"/>
            </intent-filter>
        </receiver> 
        <receiver android:name=".FeatureConfigurationResultReceiver">
            <intent-filter>
                <action android:name="com.dashwire.feature.intent.CONFIGURATION_RESULT"/>
            </intent-filter>
        </receiver> 
    </application>

</manifest>