<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dashwire.contacts"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="15" />
    
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        
        <service
            android:name="com.dashwire.contacts.ContactsConfigurator"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.dashwire.configure.intent.Contacts"/>
            </intent-filter>
        </service>
    </application>

</manifest>